vnstock
streamlit
plotly
dash
dash-bootstrap-components
pandas
requests
beautifulsoup4
tensorflow
tensorflow-text
scikit-learn
numpy
matplotlib
wordcloud
deep-translator
vaderSentiment
gdown
transformers
tf-keras
gspread
oauth2client